.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.links .icon-link {
  color: white !important;
  font-size: 40px;
  text-decoration: none;
  transition: 0.2s;
  display: flex;
  align-items: center;
}

.icon-link:hover {
  transform: scale(1.2);
  color: #aaaaaa !important;
}

.roblox-icon {
  width: 45px;
  height: 45px;
  filter: brightness(0) invert(1);
  transition: filter 0.2s ease, transform 0.2s ease;
}

.icon-link:hover .roblox-icon {
  transform: scale(1.2);
  filter: brightness(0.6) invert(0.6);
}

.only-icon {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
  transition: filter 0.2s ease, transform 0.2s ease;
}

.icon-link:hover .only-icon {
  transform: scale(1.2);
  filter: brightness(0.49) inver
}

.discord-icon {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
  transition: filter 0.2s ease, transform 0.2s ease;
}

.icon-link:hover .discord-icon {
  transform: scale(1.2);
  filter: brightness(0.49) inver
}
